
node_modules
.env

ignore.js

anor-pos-back-office-firebase-adminsdk-e0ayv-f212e71170.json

key.json
anor-pos-back-office-firebase-adminsdk-e0ayv-f212e71170.json

package-lock.json
delete.json
inventorypurchases.json
test
static/*.*